.data-title {
    text-transform: uppercase;
    color: #ef7247;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
}

.data-label {
    font-weight: bold;
    margin: 5px 0;
    display: table;
    font-size: 20px;
}

.data-input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

.buttom {
    background-color: #48A3A6;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.contain{
    margin: 0 5px;
}