.header .main-menu .itens-menu{
	text-transform: uppercase;
	text-align: center;
}
.itens-menu li{
	display: inline-block;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 20px 5px;
	border-radius: 5px;
	transition: background-color 0.5s;
}

.itens-menu li:hover{
	background-color: #48A3A6;
}

.itens-menu a{
	color:  #FFF;
	text-decoration: none;
}

.header{
	background: url('../img/destaque.jpeg') no-repeat ;
	background-size: cover;
}

.jumbotron{
	text-align: center;
	margin: 20px;
}

.jumbotron .tittle{
	margin: 3px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px 10px #000;
}

.jumbotron .subtittle{
	margin: 3px;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 4px 4px 10px #000;
}

.jumbotron .tittle{
	font-size: 3em;
	color: #fff;
}

.jumbotron .subtittle{
	font-size: 2.6em;
	color: #77f76d;
}

.buttom{
	background-color: rgb(72, 163, 166);
	border-radius: 5px;
	padding: 25px 50px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 2em;
}

@media (min-width: 830px) {
	.header .jumbotron{
		font-size: 24px;
	}
}

