.speakers-section {
    background-color: #ef7247;
    padding: 20px;
}

.speakers-title,
.speakers-subtitle {
    color: #fff;
    height: 2em;
}

.speakers-title {
    text-transform: uppercase;
    font-size: 40px;
}

.speakers-title {
    font-size: 30px;
}

.speaker-panel {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}

.speaker-image {
    border-radius: 50%;
    width: 250px;
}

.ocupation {
    font-weight: bold;
}

.speaker-panel figcaption {
    margin-top: 10px;
    margin-bottom: 20px;
}

.speaker-speach {
    margin-top: 20px;
}
