*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.article {
    width: 100%;
    min-height: 240px;
    position: relative;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgb(2, 186, 250), rgb(245, 245, 245));
    border-bottom: solid rgba(117, 117, 117, 0.8);
    border-right: solid rgba(117, 117, 117, 0.8);
}

.articles {
    position: absolute;
    top: 128px;
    right: 25%;
    padding: 0px 5px 5px 5px;
    margin-top: 20px;
}

.article-button {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background-color: #002d4e;
    color: #ffffff;
}

.article-content {
    position: relative;
    left: 42%;
    top: 0;
    margin: 5px 5px 5px 0;
    width: 57%;
}

.article-data {
    position: relative;
    top: -50px;
    left: 70%;
    width: 250px;
    text-transform: uppercase;
}

.article-image {
    position: absolute;
    top: 0;
    width: 40%;
    height: 230px;
    margin: 5px;
}

.article-title {
    padding-bottom: 1.5em;
    text-align: center;
}

.aside-bar {
    position: absolute;
    width: 25%;
    height: 100%;
    left: auto;
    background-image: linear-gradient(to bottom, rgb(2, 186, 250), rgb(245, 245, 245));
    border: solid rgba(117, 117, 117, 0.8);
}

.aside-description {
    padding: 10px;
    width: 100%;
}

.aside-figcaption {
    position: relative;
    text-align: center;
}

.aside-image {
    max-width: 100%;
    height: 200px;
    position: relative;
}

.aside-title {
    padding: 15px;
    text-align: center;
}

.aside-bar figure {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.buttons-menu {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.buttons-menu a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 3px;
    border: 3px;
    padding: 5px;
}

.buttons-menu a:hover {
    background-color: rgb(50, 50, 50);
}

.ficaption-name {
    display: inline;
    text-align: center;
}

.footer {
    background-image: url(../img/menu-background.jpg);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 53px;
}

.footer strong {
    color: #ffffff;
    padding: 5px 5px;
    line-height: 53px;
    vertical-align: middle;
}

.menu-theme p {
    opacity: 0;
}

.menu-1st-theme {
    background-image: linear-gradient(to bottom, rgba(2, 186, 250, 1), rgba(0, 105, 147, 1));
    width: 100%;
    position: relative;
    top: 0;
    height: 70px;
}

.menu-2nd-theme {
    background-color: #fff;
    height: 5px;
    width: 100%;
    position: relative;
    top: 0px;
}

.menu-3rd-theme {
    background-image: url(../img/menu-background.jpg);
    height: 53px;
    position: relative;
    top: 0px;
}

-menu-navegation {
    width: 100%;
}

.redes-sociais {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 70%;
    right: 15%;
    top: 0;
    /* margin: 10px; */
}

.redes-socias-item {
    display: flex;
    justify-content: space-between;
}

aside {
    right: 0px;
    width: 18%;
    background-color: #f6f6f6;
    left: 82%;
    position: relative;
    /* display: block; */
}

.container {
    width: 80%;
    margin: 0 10%;
    position: relative;
    margin: 0 font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 50px 10px 30px 0px; */
}

p {
    text-align: justify;
    line-height: 1.5em;
}